<section id="meters">
  <h3 ng-show="!connecting">Measured data</h3>

  <p ng-show="connecting">Connecting to Smartbottle
      <span class="address">({{smartbottle.address}})</span>
  </p>

  <ul ng-show="!connecting" id='measures'>
    <li ng-repeat='measurement in measurements'>
      <span class='value'>{{measurement.value}}</span>
      <span class='key'>{{measurement.key}}</span>
    </li>
  </ul>

    <p ng-show="status" class="http-status">{{status}}</p>
    <p ng-show="error" class="error">{{error}}</p>

  <a ng-click="saveMeasurements()" id="store-button">Upload</a>
</section>
