<section id="meters">
  <h3>Measured data</h3>

  <p ng-show="connecting">Press <b>Start</b> to connect to Smartbottle
      <span class="address">({{smartbottle.address}})</span>
  </p>

  <ul ng-show="!connecting" id='measures'>
    <li ng-repeat='measurement in measurements'>
      <span class='value'>{{measurement.value | limitTo: 5}}</span>
      <span class='key'>{{measurement.key}}</span>
    </li>
  </ul>

    <p class="status">{{status}}</p>

    <a ng-click="saveMeasurements()" id="store-button">Start</a>
</section>
