<section id="meters">
  <h3>Measured data</h3>

  <div id="location">
  </div>

  <ul id='measures'>
    <li>
      <span class='value'>12pH</span>
      <span class='key'>pH</span>
    </li>
    <li>
      <span class='value'>1200mV</span>
      <span class='key'>ORP</span>
    </li>
    <li>
      <span class='value'>100,000μS/cm</span>
      <span class='key'>Conductivity</span>
    </li>
    <li>
      <span class='value'>15mg/L</span>
      <span class='key'>DO</span>
    </li>
  </ul>

  <a href="#" id="store-button">Save</a>
</section>
