<div>
    <h3>Upgrade credits</h3>

    <h2>You now have: {{credits | currency}}</h2>

    <form id="braintree-payment-form">
        <hr/>
        <label ng-repeat="unit in units">
            <input type="radio" ng-model="$parent.amount" ng-value="unit.amount"/>
            {{unit.label}}
        </label>

        <label><p>Card Number:
            <input type="text" size="20" autocomplete="off" data-encrypted-name="number" value="4111111111111111"/></p>
        </label>

        <label>
            <p>CCV:
            <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" value="111"/></p>
        </label>
        <label>
            <p>Expiration (MM/YYYY):
                <input type="text" size="2" data-encrypted-name="exp_month" name="month" value="11"/> /
                <input type="text" size="4" data-encrypted-name="exp_year" name="year" value="2015"/>
            </p>
        </label>
        <hr/>
        <button ng-disabled="performingSale" class="huge" ng-click="purchase()">Purchase ${{amount}} credit</button>
    </form>

    <pre wrap>{{response | json}}
    </pre>
</div>
