#header-bar
  height: 30px
  line-height: 30px
  font-weight: bold
  border-bottom: 1px #ccc solid
  background: image-url('/images/bottle_black.svg')
  padding: 0 30px
  margin-bottom: 30px

  h1
    display: inline-block

  nav
    margin-left: 30px
    display: inline-block
    vertical-align: top
