#header-bar
  height: 45px
  line-height: 45px
  font-weight: bold
  border-bottom: 1px $main-color solid
  background: image-url('/images/bottle_white.svg') $main-color
  background-repeat: no-repeat
  background-position: left
  background-size: 30px 20px
  padding: 0 30px
  margin-bottom: 30px

  h1
    color: #fff
    display: inline-block
    padding-right: 15px
    border-right: 1px solid $main-color


  nav
    margin-left: 30px
    display: inline-block
    vertical-align: top
