h1
  cursor: pointer
  text-align: center
  color: #fff
  display: inline-block
  padding-right: 15px
  margin: 15px 0
  background: image-url('/images/bottle_white.svg')
  background-repeat: no-repeat
  background-position: left
  background-size: 30px 30px
  padding: 0 30px
  height: 30px
  line-height: 30px

nav
  padding-left: 15px
  width: 45px
  z-index: 5000
  border-right: 1px solid #fff
  position: fixed
  top: 0
  left: 0
  background: $main-color
  height: 100%
  vertical-align: top
  &.unfolded
    width: 140px
  a
    text-decoration: none
    display: block
    color: white
    padding: 15px 8px
    &:hover, &:active
      background: #fff
      color: $main-color
      border-right: 1px solid $main-color
