<p>Checks for user {{ user.email }}</p>

<input type="text" ng-model="filterString"/>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>URL</th>
        <th>Enabled</th>
        <th>State</th>
        <th>Interval</th>
        <th>Freq (/day)</th>
        <th>Cost (/month)</th>
        <th>Locations</th>
        <th>Downtime (days)</th>
        <th>Uptime (days)</th>
    </tr>
    </thead>
    <tbody>
    <tr class='check-{{check.enabled}}' ng-repeat="check in checks | filter:filterString |
    orderBy:'daily_frequency':true">
        <td>{{check.name | limitTo: 64}}</td>
        <td>{{check.id | limitTo: 8}}</td>
        <td>{{check.url | limitTo: 32}}</td>
        <td><span class='check-{{check.enabled}}'>{{check.enabled}}</span></td>
        <td><span class='check-{{check.enabled}} status-{{check.state}}'>{{check.state}}</span></td>
        <td>{{check.interval}}</td>
        <td>{{check.daily_frequency}}</td>
        <td>{{check.monthly_cost | currency}}</td>
        <td>
            <span class='location location-{{location.replace("_","")}}' ng-repeat="location in check.locations">{{location}}</span>
        </td>
        <td><span class='right-aligned'>{{check.downtime.toFixed(2)}}</span></td>
        <td><span class='right-aligned'>{{check.uptime.toFixed(2)}}</span></td>
    </tr>
    </tbody>
</table>
