<h3>30MHz Users ({{environment}})</h3>

<p>Total checks per second: {{ cps }}</p>

<input type="text" ng-model="name"/>

<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email address</th>
            <th>Total pings</th>
            <th>Credits left</th>
            <th>Checks (on/off)</th>
            <th>∑ (1/interval)</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users | filter:name | orderBy:'count.frequency':true">
            <td>{{user.status}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.pings}}</td>
            <td>{{user.credits | currency}}</td>
            <td>{{user.count.checks_total}}
                <span class='detail'>({{user.count.checks_enabled}} / {{user.count.checks_disabled}})</span
            </td>
            <td>{{user.count.frequency.toFixed(2)}}
            <td><a href="#/user/{{user.email}}/checks">checks</a></td>
        </tr>
    </tbody>
</table>


<p>Invite user<br/>

    <label>Name</label>
    <input type="text" ng-model="newUser.name"/><br/>

    <label>E-Mail</label>
    <input type="text" ng-model="newUser.email"/><br/>
        <button ng-click="addUser()">Invite User</button>
</p>