section#meters
  +container

  #measures
    li
      height: 75px
      line-height: 75px
      display: inline-block
      width: 39%
      margin: 0 5%
      text-align: center
      border: 1px solid #ccc
      +breakpoint
        width: 80%
        margin: 0 10%

  #store-button
    text-align: center
    background: #CCC
    padding: 4px 8px
    display: block
    width: 50px
    margin: auto

