section#settings
  #ip-form
    +container

  text-align: center

  input
    width: 100%
    outline: none
    border: 0
    text-align: center
    font-size: 32px
    margin: 15px 0
    color: $main-color
    border-bottom: 1px solid #ccc
    &:focus
      border-bottom: 1px solid $main-color

  #store-button
    +button
