@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 17, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/application/_body.sass */
body {
  margin-top: 30px;
  font-family: Lato;
  font-weight: 100;
  color: #888888;
}

/* line 1, ../../sass/application/_layout.sass */
h1 {
  cursor: pointer;
  text-align: center;
  color: white;
  display: inline-block;
  padding-right: 15px;
  margin: 15px 0;
  background: url('/images/bottle_white.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30px 30px;
  padding: 0 30px;
  height: 30px;
  line-height: 30px;
}

/* line 16, ../../sass/application/_layout.sass */
nav {
  padding-left: 15px;
  width: 45px;
  z-index: 5000;
  border-right: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  background: #8ce7ed;
  height: 100%;
  vertical-align: top;
}
/* line 27, ../../sass/application/_layout.sass */
nav.unfolded {
  width: 140px;
}
/* line 29, ../../sass/application/_layout.sass */
nav a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 15px 8px;
}
/* line 34, ../../sass/application/_layout.sass */
nav a:hover, nav a:active {
  background: white;
  color: #8ce7ed;
  border-right: 1px solid #8ce7ed;
}

/* line 1, ../../sass/application/_headers.sass */
h3 {
  margin-bottom: 30px;
  font-size: 32px;
  color: #8ce7ed;
}

/* line 3, ../../sass/sections/_meters.sass */
section#meters {
  width: 80%;
  margin: 0 10%;
  margin-left: 50px;
}
/* line 5, ../../sass/sections/_meters.sass */
section#meters h3 {
  text-align: center;
  margin-bottom: 30px;
}
/* line 9, ../../sass/sections/_meters.sass */
section#meters p {
  width: 80%;
  margin: 0 10%;
  margin-left: 50px;
}
/* line 12, ../../sass/sections/_meters.sass */
section#meters #measures {
  text-align: center;
}
/* line 15, ../../sass/sections/_meters.sass */
section#meters #measures li {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: 0 5% 0 4%;
}
/* line 21, ../../sass/sections/_meters.sass */
section#meters #measures li span {
  margin: auto;
}
/* line 23, ../../sass/sections/_meters.sass */
section#meters #measures li .value {
  font-weight: bold;
  color: white;
  line-height: 120px;
  display: block;
  height: 120px;
  width: 120px;
  background: #8ce7ed;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  border-radius: 120px;
}
/* line 32, ../../sass/sections/_meters.sass */
section#meters #measures li .key {
  line-height: 30px;
}
@media only screen and (max-width: 40em) {
  /* line 15, ../../sass/sections/_meters.sass */
  section#meters #measures li {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
/* line 39, ../../sass/sections/_meters.sass */
section#meters #store-button {
  text-align: center;
  background: #8ce7ed;
  padding: 16px 32px;
  display: block;
  width: 50px;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-top: 30px;
}
/* line 13, ../../sass/mixins/_button.sass */
section#meters #store-button:hover {
  background: #4ad9e3;
}
@media only screen and (max-width: 40em) {
  /* line 39, ../../sass/sections/_meters.sass */
  section#meters #store-button {
    padding: 16px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: -1;
    text-align: center;
    margin-left: -30px;
  }
}

/* line 1, ../../sass/sections/_settings.sass */
section#settings {
  width: 80%;
  margin: 0 10%;
  margin-left: 50px;
  text-align: center;
}
/* line 7, ../../sass/sections/_settings.sass */
section#settings input {
  width: 80%;
  margin: auto;
  outline: none;
  border: 0;
  text-align: center;
  font-size: 32px;
  margin: 15px 0;
  color: #8ce7ed;
  border-bottom: 1px solid #cccccc;
}
/* line 17, ../../sass/sections/_settings.sass */
section#settings input:focus {
  border-bottom: 1px solid #8ce7ed;
}
@media only screen and (max-width: 40em) {
  /* line 7, ../../sass/sections/_settings.sass */
  section#settings input {
    font-size: 18px;
  }
}
/* line 22, ../../sass/sections/_settings.sass */
section#settings #store-button {
  text-align: center;
  background: #8ce7ed;
  padding: 16px 32px;
  display: block;
  width: 50px;
  margin: auto;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-top: 30px;
}
/* line 13, ../../sass/mixins/_button.sass */
section#settings #store-button:hover {
  background: #4ad9e3;
}
@media only screen and (max-width: 40em) {
  /* line 22, ../../sass/sections/_settings.sass */
  section#settings #store-button {
    padding: 16px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: -1;
    text-align: center;
    margin-left: -30px;
  }
}
