body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.right-aligned {
  float: right;
}

tr.check-running span.location {
    background-color: #f0f0e0;
}
// regions

span.location-EUW1 {
 background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNjAwIiB2aWV3Qm94PSIwIDAgOSA2Ij4NCjxwYXRoIGZpbGw9IiMyMTQ2OGIiIGQ9Im0wLDBoOXY2aC05eiIvPg0KPHBhdGggZmlsbD0iI2ZmZiIgZD0ibTAsMGg5djRoLTl6Ii8+DQo8cGF0aCBmaWxsPSIjYWUxYzI4IiBkPSJtMCwwaDl2MmgtOXoiLz4NCjwvc3ZnPg0K') !important;
 width: 24px;
 height: 16px;
 background-size: 100% 100%;
}

span.location {
    padding: 3px;
    margin: 3px;
    border-radius: 4px;
}

button.huge {
    font-size: 18pt;
    border-radius: 8pt;
    padding: 12px;
}

span.detail {
    color: #c6c6c6;
}

span.status-up {
    border-radius: 4px;
    background-color: greenyellow;
    color: black;
    padding: 3px;
}
span.status-down {
    border-radius: 4px;
    background-color: #b20701;
    color: white;
    padding: 3px;
}

table
{
    font-size: 12px;
    background: #fff;
    border-collapse: collapse;
    text-align: left;
}
table th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
table td
{
    color: #669;
    padding: 9px 8px 6px 8px;
}
table tbody tr:hover td
{
    color: #009;
    background-color: #eee;
}

tr.check-running { background-color: rgba(220,240,0,0.1); }

.check-pause.status-down {
  background-color: #bbb !important;
}



